@import "tailwindcss";

@font-face {
  font-family: 'Cweyons';
  src: url('/src/assets/font/Cweyons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Cweyons', cursive;
}
